/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/


.metadata-property-key[data-metatag="true"] {
	background-color: rgba(0, 122, 204, 0.1); /* Light blue background */
	border-radius: 4px; /* Rounded corners */
	padding: 4px; /* Padding for the element */
  }
  
  /* Style the child elements */
  .metadata-property-key[data-metatag="true"] .metadata-property-icon,
  .metadata-property-key[data-metatag="true"] .metadata-property-key-input {
	color: #007acc; /* Text color for icon and input */
	font-weight: bold; /* Bold text */
  }
